.conteudo {
    display: flex;
    height: 41vw;
    align-items: center;
    justify-content: center;
    color: white;
}

.texto {
    width: 45rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0px 500px 0px 0px;
    z-index: 1;
}

.texto h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 140%;
}

.texto p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 160%;
}

.texto a{
    display: flex;
    background-color: #4912B8;
    text-decoration: none;
    padding: 20px 32px;
    max-width: 250px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #4912B8;
}

.texto a:hover {
    background-color: transparent;
    border: 1px solid #4912B8;
}

.logo_conteudo {
    position: absolute;
    right: 150px;
    z-index: 2;
}