@media screen and (max-width:1440px) {
    .conteudo {
        height: 58rem;
    }
    
    .texto {
        width: 45rem;
        gap: 3rem;
        margin: 0px 500px 0px 0px;
        z-index: 1;
    }

    .texto h1 {
        font-size: 6em;
        font-weight: 400;
        line-height: 140%;
    }
    
    .texto p {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 160%;
    }
    
    .texto a{
        padding: 20px 32px;
        max-width: 250px;
    }
    
    .texto a:hover {
        background-color: transparent;
        border: 1px solid #4912B8;
    }
}