* {
    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid rgba(192, 192, 192, 0.075);
    height: 4rem;
}

footer img {
    height: 30px;
}

footer div {
    display: flex;
}

.contato_footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}