::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #7D5AFE;
    border-radius: 5px;
}

*::selection {
    background-color: #7D5AFE7c;
    color: white;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}